
{% extends "layout.html" %}
{% load static %}


{% block body%}
     <h1>Services</h1>

    
    <form method="post" action="{% url 'addService' %}">
        {% csrf_token %}
        <label for="user_enterprise">Select your user_enterprise:</label>
        <select id="user_enterprise" name="selected_user">
          {% for user_enterprise in user_enterprises %}
            <option value="{{ user_enterprise.id }}">{{ user_enterprise.username }}</option>
          {% endfor %}
        </select>
        <input type="submit" value="Select">
      </form>



{% endblock %}