{% extends "layout.html" %}
{% load static %}


{% block body%}
     <div class="mx-3">
          <h1>{{account.bank}}</h1>
          <h3>Home Banking app</h3>
          <div class="message bg bg-success">
               {% if message %}
                    {{message}}
               {% endif %}
          </div>
          <hr>
          {% if card %}
               <div class="card d-flex w-25 m-2" id="debit_card">
                    <div>
                         {{card.owner.first_name}}
                    </div>
                    <div>
                         {{card.card_number}}
                    </div>
                    <div>
                         {{card.expiration_date}}
                    </div>
                    <div>
                         {{card.type}}
                    </div>

               </div>
               <div>
                    <button class="btn btn-primary">Ask for new Card</button>
                    <button class="btn btn-primary">Delete Service Card</button>
               </div>
               
          {% endif %}

          <p>User</p>
          {{user.first_name}}
          <hr>
          <p>Amount</p>
          {{account.account_amount}}
          <hr>
          <p>Account</p>
          {{account.cbu}}
     </div>
{% endblock %}
